---
import Nav from "./Nav.astro";
import Projects from "./Projects.astro";
---

<div class="h-max">
	<Nav />
	<div class="h-screen flex items-center">
		<div class="mx-12">
			<h1>COLLINS OMONDI</h1>
			<p>Welcome, my name is Collins. I am an aspiring graphics designer and full-stack developer whose practice is heavily influenced by technology and internet culture. My work gravitates towards the use of technology and so my processes tend to be quite technical. Virtual reality, artificial intelligence, 3D art, game development, and everything related all capture my interest.</p>
		</div>
	</div>

	<Projects />
	
</div>